.loading-container{
  z-index: 1;
  position: absolute;
  top: 10%;
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(184, 214, 185, 1);
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #207103;
    width: 10vh;
    height: 10vh;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  
  
  }

  .loader-text{
      color: black;
      font-size: 3vh;
      font-weight: bold;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }