

.container{
  z-index: -1;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
.container2{
  z-index: 2;
  position: fixed;
  height: 100vh;
  width: 100%;
 /* background-color: aqua;*/
}
.container3{
  z-index: -1;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: transparent;
}
.menu_container{
  display: flex;
}
.menu_container2{
  display: none;
}
.logo-menue{

  width: 8rem;
  height: 8rem;
  margin-bottom:0%;
  margin-top: -25%;
  margin-left: auto;
  margin-right: auto;
}
.header{
  position: absolute;
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
  background-color: #80A580;
}
h1{
  color: #000;
}

.menu{
  display: flex;
  position: absolute;
  top: 10vh;
  height: 90vh;
  width: 20vw;
  background-color: #80A580;
  flex-direction: column;
  padding-top: 3%;
  
}
.menu_btn{
  display: flex;
  width: 12.5vw;
  height: 4vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  outline-color: none;
  border-radius: 3vh;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(197, 216, 197 );
  text-decoration: none;
  justify-content:space-between;
  padding: 0vh 5vh;
  align-items: center;
  box-sizing: none;
}
.menu_btn:hover{
  box-shadow: 0.5vh 1vh 1vh rgb(0, 0, 0, 0.5);
}
.menu_btn2{
  background-color: #B2B2B2;
}
.menu_btn_text{
  color: #000;
  font-size: 1.3vw;
  font-weight: bold;
  box-sizing:inherit;
 
 }
.section{
  z-index: 10;
  position: absolute;
  top: 10vh;
  left: 20%;;
  width: 80vw;
  height: 90vh;
  /*background-color: #101E06;*/
}
.close_btn{
  display: flex;
  width: 90%;
  height: 8vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  outline-color: none;
  border-radius: 5vh;
  cursor: pointer;
  border: none;
  outline: none;
  background-color:rgb(197, 216, 197 );
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: large;
  font-weight: bold;
}
.close_btn:hover{
  box-shadow: 0.5vh 1vh 1vh rgb(0, 0, 0, 0.5);
}
.close_btn2{
  background-color: #B2B2B2;
}
::placeholder{
  color: #C5C9C7;
}

.headerMuneButton{
  display: none;
}

/* main splashScreen */

.splashScreen-container{
  z-index: 2;
  position: absolute;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #80B96C;
  align-items: center;
  flex-direction: column;
}
.splashImage{
  width: 20vw;
  height: 20vw;
}

/* main splashScreen */


@media (min-width: 660px) and (max-width: 875px){
  
  .menu{
    display: flex;
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 25vw;
    background-color: #80A580;
    flex-direction: column;
    padding-top: 3%;
    
  }
  .menu_btn{
    display: flex;
    width: 14vw;
    height: 6vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    outline-color: none;
    border-radius: 3vh;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(197, 216, 197 );
    text-decoration: none;
    justify-content:space-between;
    padding: 0vh 5vh;
    align-items: center;
    box-sizing: none;
  }
  .menu_btn2{
    background-color: #B2B2B2;
  }

  .menu_btn:hover{
    box-shadow: 0.5vh 1vh 1vh rgb(0, 0, 0, 0.5);
  }

  .close_btn{
    display: flex;
    width: 22vw;
    height: 6vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    outline-color: none;
    border-radius: 5vh;
    cursor: pointer;
    border: none;
    outline: none;
    background-color:rgb(197, 216, 197 );
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 2vw;
    font-weight: bold;
  }
}

@media (max-width: 660px){
  .container3{
    z-index: 2;
    position: fixed;
    height: 100vh;
    width: 100%;
  }

  .header{
    position: absolute;
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: #80A580;
  }

  .headerMuneButton{
    display: block;
    position: fixed;
    left: 2vw;
    top: 4vh;
    font-size: 4vw;
    cursor: pointer;
  }

  .menu_container2{
    display: flex;
    z-index: 1;
    position: relative;
    top:0vh;
    left: -25%;;
    width: 100vw;
    height: 90vh;
    background-color: #80A580;

  }
  .menu_container{
    display: none;
  }

  .menu{
    position: relative;
    top: 10vh;
    display: grid;
    height: 71vh;
    width: 80vw;
    padding-top: 3%;
    transition: 0.5s;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #fff;
    border-radius: 5vh 5vh 0vh 0vh;
    
   
  }
  .menu_btn{
    position: relative;
    display: flex;
    width: 20vw;
    height: 20vw;
    outline-color: none;
    border-radius: 3vh;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(197, 216, 197 );

  }
  .menu_btn_text{
    color: #000;
    font-size: 2.2vw;
    font-weight: bold;
    box-sizing:inherit;
    cursor: pointer;

   }

  .menu_btn2{
    background-color: #B2B2B2;
  }
  .menu_btn:hover{
    box-shadow: 0.5vh 1vh 1vh rgb(0, 0, 0, 0.5);
  }

  .close_btn_container{
    z-index: 2;
    display: flex;
    position: absolute;
    top: 72vh;
    width: 100vw;
    height: 9vh;
    background-color: #CACACA;
 
  }
  .closeMenu{
    width: 0;
    transition: 0.5s;
    overflow-x: hidden;
    padding-left: 0vw;
    padding-right: 0vw;
  }

  .close_btn{
    position: relative;
    top: -35%;
    display: flex;
    width: 25vw;
    height: 6vw;
    margin-left: auto;
    margin-right: auto;
    outline-color: none;
    border-radius: 5vh;
    cursor: pointer;
    border: none;
    outline: none;
    background-color:#749966;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size:2.5vw;
    font-weight: bold;
  }

  .imagen{
    cursor: pointer;
    width: 5vw;
    height: 5vw;
  }
  
}

::-webkit-scrollbar {
  width: 1vh;

}

/* Track */
::-webkit-scrollbar-track {
  background: #B7EC8D;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #387805;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #285802;
}