.D_modal_container{
    display: flex;
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    /*background-color: aqua;*/
    margin: 0%;
}

.D_modal_body{
    width: 60%;
    height: 95%;
    border-radius: 2vh;
    -webkit-box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    background-color:#88AF98;
  
 }
 .D_modal_form{
   display: flex;
   width: 100%;
   height: 80%;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content:center;
   align-items:center;
   margin-top: 2%;
   
 }
 .D_modal_label{
    display: flex;
    width: 30%;
    height:10%;
    color: #000;
    font-weight: bold;
  /*  background-color: blueviolet;*/
    justify-content: flex-start;
 }
 .D_modal_input{
     display: inline;
     width: 50%;
     height:10%;
     border: none;
     border-radius: 1vh;
     background-color: #447659;
     margin-left: 1%;
     padding: 0% 2%;
    
     
 }
 
 .D_modal_btn_body{
     display: flex;
     width: 100%;
     height: 12%;
     /*background-color: rebeccapurple;*/
     justify-content: center;
     align-items: center;
     margin-top: 4%;
 }
 .D_modal_btn{
     width: 20%;
     height: 50%;
     border: none;
     margin: 5%;
     border-radius: 2vh;
     cursor: pointer;
     background-color: #447659;
     font-size: 2.5vh;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
 }
 
 
.D_header_btn{
    width: 10vw;
    height: 60%;
    border: none;
    background-color: #141A23;
    color: #D3D4D7;
    margin-left: 2%;
    border-radius: 2vh;
    font-size: 1.2
    vw; 
    cursor: pointer;
  }
.D_hearder_more{
    width: 10vw;
    height: 60%;
    border-radius: 5vh;
    border: none;
    background-color: #141A23;
    color: #D3D4D7;
    font-size: 1.3vw;  
    cursor: pointer;
    margin: 0vh 5vw;
    
  }
.D_header_buscar{
    width: 20vw;
    height: 5vh;
    background-color: #485464;
    border: none;
    margin-left: 2vw;
    border-radius: 5vw;
    padding: 0 1vw;
    color: #D3D4D7;
    outline: none;
    font-size: 1.3vw; 
  }
.D_header_buscar_btn{
    width: 8vw;
    height: 5vh;
    border-radius: 5vh;
    border: none;
    background-color: #141A23;
    color: #D3D4D7;
    font-size: 1.3vw; 
    cursor: pointer;
    margin: 0vh 2vh;
  }

  
.D_info_container{
    position: absolute;
    width: 80vw;
    height: 90%;
    display: grid;
    grid-gap: -1vw;
    grid-template-columns:repeat(3, 1fr);
    overflow: auto;
    /*justify-content:;*/
    
} 


.D_info_body{
    display:flex;
    background-color: #D1D1D1;
    width: 22vw;
    height: 35vh;
    border-radius: 2vh;
    padding:2vh 2vh;
    margin: 2.5vw auto;
    -webkit-box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    flex-direction: column;
  }

.D_info_header{
 /*margin: -2.5vw;*/
  display: flex;
  position: relative;
  top: -2vh;
  left: -2vh;
  width: 23vw;
  height: 7vh;
  padding:2vh 1vh;
  background-color:#044640;
  border-radius: 2vh 2vh 0vh 0vh;
  align-items: center;
  
}

.D_info_header_btn{
  display: flex;
  width: 15vw;
  align-items: center;
  justify-content: flex-end;
}

.D_info_header_title{
  width: 18vw;
  color: #fff;
  font-size: 3vh;
  font-weight: bold;
  margin-right: 1vw;
 
}

.D_info_header_delete{
  display: flex;
  width: 4.5vh;
  height: 4.5vh;
  background-color: #000;
  justify-content: center;
  align-items: center;
  border-radius: 5vh;
  font-size: 3vh;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-left: 2vw;
  color: #fff;
}
.ActualizarIcon{
  height:5vh;
  width: 5vh;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5vh;
}

.D_info_text{
  font-size: 2vh;
  font-weight: bold;
}

.D_info_text2{
  font-size: 2.4vh;
  color: #023D58;
  font-weight: bold;
}


@media (min-width: 660px) and (max-width: 875px){
  .D_modal_container{
    display: flex;
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    /*background-color: aqua;*/
    margin: 0%;
}

.D_modal_body{
    width: 85%;
    height: 95%;
    border-radius: 2vh;
    -webkit-box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    background-color:#88AF98;
  
 }
 .D_modal_form{
   display: flex;
   width: 100%;
   height: 80%;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content:center;
   align-items:center;
   margin-top: 2%;
   
 }
 .D_modal_label{
    display: flex;
    width: 40%;
    height:10%;
    color: #000;
    font-weight: bold;
    font-size: 2vw;
  /*  background-color: blueviolet;*/
    justify-content: flex-start;
 }
 .D_modal_input{
     display: inline;
     width: 40%;
     height:10%;
     border: none;
     border-radius: 1vh;
     background-color: #447659;
     margin-left: 1%;
     padding: 0% 2%;
     font-size: 2vw;
    
     
 }
 
 .D_modal_btn_body{
     display: flex;
     width: 100%;
     height: 12%;
     /*background-color: rebeccapurple;*/
     justify-content: center;
     align-items: center;
     margin-top: 4%;
 }
 .D_modal_btn{
     width: 100%;
     height: 50%;
     border: none;
     margin: 5%;
     border-radius: 2vh;
     cursor: pointer;
     background-color: #447659;
     font-size: 2.5vh;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
 }
}

@media (max-width: 660px){
  .D_modal_container{
    display: flex;
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    /*background-color: aqua;*/
    margin: 0%;
}

.D_modal_body{
    width: 85%;
    height: 95%;
    border-radius: 2vh;
    -webkit-box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 22px -2px rgba(0, 0, 0, 0.75);
    background-color:#88AF98;
  
 }
 .D_modal_form{
   display: flex;
   width: 100%;
   height: 80%;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content:center;
   align-items:center;
   margin-top: 2%;
   
 }
 .D_modal_label{
    display: flex;
    width: 40%;
    height:10%;
    color: #000;
    font-weight: bold;
    font-size: 2.5vw;
  /*  background-color: blueviolet;*/
    justify-content: flex-start;
 }
 .D_modal_input{
     display: inline;
     width: 40%;
     height:10%;
     border: none;
     border-radius: 1vh;
     background-color: #447659;
     margin-left: 1%;
     padding: 0% 2%;
     font-size: 2vw;
    
     
 }
 
 .D_modal_btn_body{
     display: flex;
     width: 100%;
     height: 12%;
     /*background-color: rebeccapurple;*/
     justify-content: center;
     align-items: center;
     margin-top: 4%;
 }
 .D_modal_btn{
     width: 100%;
     height: 50%;
     border: none;
     margin: 5%;
     border-radius: 2vh;
     cursor: pointer;
     background-color: #447659;
     font-size: 2.5vh;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
 }
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
    
  }
  
  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    j}
  
    dto {
      -webkit-transform: scale(1)
    }
  }
  
  @keyframes animatezoom {
    from {
      transform: scale(0)
    }
  
    to {
      transorm: scale(1)
    }
  }